body {
  margin: 3%;
  border: solid black;
  padding: 3%;
}

.css {
  color: blue;
}

.header {
  text-align: center;
}

.html {
  color: red;
}

img {
  width: 300px;
  height: auto;
}

.javascript {
  color: purple;
}

ol {
  width: 45%;
}

ol li {
  padding: 3px;
}

.sidebar {
  width: 45%;
  float: right;
  border: solid thin black;
  padding: 3px;
  margin: 16px;
}